<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Aplikasi Prediksi Kanker Payudara</title>
  </head>
  <body
    class="
      flex flex-col
      justify-between
      item-center
      p-8
      min-h-screen
      bg-gradient-to-r
      from-green-400
      to-blue-500
      text-gray-800
      md:flex-row
    "
  >
    <main class="bg-white p-16 rounded-lg">
      <h1 class="text-3xl font-bold mb-8">Prediksi Resiko Kanker Payudara:</h1>

      <form
        action="{{ url_for('predict') }}"
        method="post"
        class="flex flex-col"
      >
        <label for="Radius" class="mt-4 mb-2">Radius:</label>
        <input
          type="number"
          name="radius"
          min="0"
          max="10000"
          placeholder="Radius"
          required="required"
          class="p-4 bg-gray-100 rounded-md"
        />

        <!--<label for="Jenis Kelamin" class="mt-4 mb-2">Jenis Kelamin:</label>
        <select
          name="jeniskelamin"
          id="Jenis Kelamin"
          class="p-4 bg-gray-100 rounded-md"
          required="required"
        >
          <option value="Laki-Laki">Laki-laki</option>
          <option value="Perempuan">Perempuan</option>
        </select>-->

        <label for="Texture" class="mt-4 mb-2">Texture:</label>
        <input
          type="number"
          name="texture"
          min="0"
          max="10000"
          placeholder="Texture"
          required="required"
          class="p-4 bg-gray-100 rounded-md"
        />

        <label for="Perimeter" class="mt-4 mb-2">Perimeter:</label>
        <input
          type="number"
          name="perimeter"
          min="0"
          max="10000"
          placeholder="Perimeter"
          required="required"
          class="p-4 bg-gray-100 rounded-md"
        />

        <label for="Area" class="mt-4 mb-2">Area:</label>
        <input
          type="number"
          name="area"
          min="0"
          max="10000"
          placeholder="Area"
          required="required"
          class="p-4 bg-gray-100 rounded-md"
        />

        <label for="Smoothness" class="mt-4 mb-2">Smoothness:</label>
        <input
          type="number"
          name="smoothness"
          min="0"
          max="10000"
          placeholder="Smoothness"
          required="required"
          class="p-4 bg-gray-100 rounded-md"
        />

        <label for="Compactness" class="mt-4 mb-2">Compactness:</label>
        <input
          type="number"
          name="compactness"
          min="0"
          max="10000"
          placeholder="Compactness"
          required="required"
          class="p-4 bg-gray-100 rounded-md"
        />
        
        <label for="Concavity" class="mt-4 mb-2">Concavity:</label>
        <input
          type="number"
          name="concavity"
          min="0"
          max="10000"
          placeholder="Concavity"
          required="required"
          class="p-4 bg-gray-100 rounded-md"
        />
        
        <label for="Concave Points" class="mt-4 mb-2">Concave Points:</label>
        <input
          type="number"
          name="concave_points"
          min="0"
          max="10000"
          placeholder="Concave Points"
          required="required"
          class="p-4 bg-gray-100 rounded-md"
        />
        
        <label for="Symmetry" class="mt-4 mb-2">Symmetry:</label>
        <input
          type="number"
          name="symmetry"
          min="0"
          max="10000"
          placeholder="Symmetry"
          required="required"
          class="p-4 bg-gray-100 rounded-md"
        />
        
        <label for="Fractal Dimension" class="mt-4 mb-2">Fractal Dimension:</label>
        <input
          type="number"
          name="fractal_dimension"
          min="0"
          max="10000"
          placeholder="Fractal Dimension"
          required="required"
          class="p-4 bg-gray-100 rounded-md"
        />        
        <button
          type="submit"
          class="
            flex
            justify-center
            align-center
            mt-8
            p-4
            bg-gradient-to-r
            from-green-400
            to-blue-500
            text-white
            rounded-md
          "
        >
          PREDIKSI SEKARANG
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-arrow-right ml-4"
          >
            <line x1="5" y1="12" x2="19" y2="12"></line>
            <polyline points="12 5 19 12 12 19"></polyline>
          </svg>
        </button>
      </form>
    </main>
    <section class="mt-8 h-full flex-auto rounded-lg md:mt-0 md:ml-8">
      <div class="bg-white p-16 rounded-lg">
        <h1 class="text-2xl mb-8">Prediksi Resiko Kanker Payudara</h1>
        <h2 class="text-5xl font-bold">{{ output }}</h2>
        {% if (output) != 'belum diprediksi' %}
        <div class="mt-8">
          <p>Radius: {{ radius }}</p>
          <p>Texture: {{ texture }}</p>
          <p>Perimeter: {{ perimeter }}</p>
          <p>Area: {{ area }}</p>
          <p>Smoothness: {{ smoothness }}</p>
          <p>Compactness: {{ compactness }}</p>
          <p>Concavity: {{ concavity }}</p>
          <p>Concave Points: {{ concave_points }}</p>
          <p>Symmetry: {{ symmetry }}</p>
          <p>Fractal Dimension: {{ fractal_dimension }}</p>
        </div>
        {% endif %}
      </div>
      <!--<div class="flex justify-around bg-white p-16 rounded-lg mt-8">
        <img
          class="h-24 md:h-28"
          src="https://unmuhpnk.ac.id/assets/5e15bcee33d3e51a6f929fd706ea14e8bab93e63.png"
          alt="logo-UMP"
        />
        <img
          class="h-24 md:h-28"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Logo_of_Ministry_of_Communication_and_Information_Technology_of_the_Republic_of_Indonesia.svg/604px-Logo_of_Ministry_of_Communication_and_Information_Technology_of_the_Republic_of_Indonesia.svg.png"
          alt="logo-kominfo"
        />
      </div>-->
    </section>
  </body>
</html>
